.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.modal.show {
  display: flex;
  opacity: 1;
}
.modal.hide {
  opacity: 0;
}

.modal-content {
  color: var(--headline);
  font-size: 1.6rem;
  background: var(--secondary-color);
  padding: 4rem 2rem;
  border-radius: 0.6rem;
  max-width: 420px;
  width: 90%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.modal-content h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.4rem;
  color: var(--paragraph);
  line-height: 1.5;
  margin: 0;
}

.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.modal.show .modal-content {
  animation: modalFadeIn 0.3s ease-out forwards;
}
.modal.hide .modal-content {
  animation: modalFadeOut 0.2s ease-in forwards;
}

#modal-icon img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}
