.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal-content {
  color: var(--headline);
  font-size: 1.6rem;
  background: var(--secondary-color);
  padding: 4rem 2rem;
  border-radius: 0.6rem;
  max-width: 420px;
  width: 90%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.modal-content h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.4rem;
  color: var(--paragraph);
  line-height: 1.5;
  margin: 0;
}

.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

#modal-icon {
  font-size: 4rem;
  color: var(--headline);
  margin-bottom: 1rem;
}
