#contact {
  padding: 10rem 0;
  background-color: var(--bg-color);
  color: var(--paragraph);
  text-align: left;
  font-size: 6.5rem;
}

#contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#contact .left-column {
  flex: 1 1 50%;
}

#contact h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

#contact ul {
  margin-bottom: 2rem;
}

#contact ul li {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

#contact ul a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--paragraph);
  transition: color 0.3s ease, transform 0.3s ease;
}

#contact ul a:hover {
  color: var(--headline);
  transform: scale(1.05);
  background: var(--third-color);
}

#contact .right-column {
  flex: 1 1 40%;
  text-align: center;
}

#contact .right-column img {
  width: 100%;
  max-width: 300px;
}

#contact a {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
  white-space: nowrap;
}

#contact a svg {
  color: var(--headline);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  #contact .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #contact .left-column {
    text-align: center;
  }
  #contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #contact ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
