@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@import 'assets/styles/variables.css';
@import 'assets/styles/base.css';
@import 'assets/styles/animations.css';
