* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-size: 1.6rem;
  text-align: center;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.button {
  background: none;
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  padding: 1.4rem 3rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  display: inline-block;
}

.button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: #fff;
  cursor: pointer;
}
